/*  Regras da aplicação/  */

button:hover{
  cursor: pointer;
}
li:hover {
  background-color: #FDF1EB;
  cursor: pointer;
}

.opcoes:hover{
  cursor: pointer;
}
.opcoes2:hover{
  cursor: pointer;
}

/*  Conteúdo do Cabeçalho  */
header {
  background: #FDF1EB;
  max-width: 180vh;
  height: 68px;
  margin-left: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto {
  font-family: Roboto;
  margin-left: 20px;
  line-height: 16px;
  text-align: left;
  color: #725C5C;
}

.idioma-login {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.idioma {
  button {
    background-color: #FDF1EB;
    text-align: left;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border-color: #CCCCCC;
    margin-right: 10px;
    
  }
}

.login {
  display: flex;
  align-items: center;
}

.bem-vindo {
  margin-right: 10px;
  white-space: nowrap; 
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
}

.div-profile {
  img.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.titulo-secundario {
  margin-left: 260px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ED7839;
}

/*  Cards Principais  */

.card-direita {
  height: 439px;
  top: 200px;
  left: 816px;
  border-radius: 3px;
  border: 1px;
  width: 250px;
}
.card-resumo {
  margin-left: 260px;
  margin-top: 70px;
  width: 1058px;
  top: 542px;
  border-radius: 3px, 3px, 0px, 0px;
  border: 1px;
}
.card-discussao {
  margin-top: 20px;
  width: 1058px;
  top: 761px;
  border: 1px;
}

/*  Título dos cards  */

.titulo-card {
  width: 250px;
  height: 45px;
  top: 73px;
  left: 816px;
  border-radius: 3px, 3px, 0px, 0px;
  border: 1px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #FDF1EB;
}
.titulo-resumo {
  width: 1185px;
  height: 45px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  background-color: #FDF1EB;
}
.titulo-discussao {
  width: 1184px;
  height: 45px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 260px;
  border: 1px solid #ECECEC;
  background-color: #FDF1EB;
}

/*  Conteúdo dos Cards  */

.texto-resumo {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
  border: 1px solid #ECECEC;
  width: 1184px;
}

.topico-discussao {
  text-align: center;
  margin-left:260px;
  border: 1px solid #ECECEC;
  width: 1184px;
}
.texto-discussao {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #ED7839;
}
.add {
  vertical-align: middle; 
  margin-right: 5px; 
}

.criar {
  display: inline-block;
  border-radius: 3px;
  margin-top: 20px;
  border: none;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  color: #ffffff;
  width: 133px;
  height: 32px;
  top: 1007px;
  left: 463px;
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}


.video {
  margin-left: 260px;
  margin-top: 30px;
}

.titulo-video {
  position: absolute;
  margin-left: 280px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ffffff;
}

.paragrafo {
  font-size: 14px;
  font-weight: 400;
}

.corpo-direito {
  float: right;
  margin-right: 250px;
  margin-top: -40px;
}


.botao {
  background-color: #ED7839;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none;
}

.menor {
  width: 43px;
  height: 31px;
  left: 967px;
  padding: 6px, 12px, 6px, 12px;
  border-radius: 4px;
  margin: 5px;
}

.texto-trabalho {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-top: 15px;
  color: #ED7839;
}



.texto-titulo{
  padding: 10px;
}
.texto-card{
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
  border: 1px solid #ECECEC;
  
}
.paragrafo-discussao {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
}

.baixar {
  width: 120px;
  height: 31px;
  left: 842px;
  padding: 6px, 12px, 6px, 12px;
  border-radius: 4px;
}

.side-menu {
  float: left;
  top: 0;
  left: 0;
  height: 250vh;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  list-style: none;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  width: 220px;
  height: 68px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
.card-lista {
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.lista li {
  margin-top: 2px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.lista::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 40px;
  background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.3s;
}
/*  Comentários prontos  */

.primeiro-comentario{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 1080px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pronto{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #ED7839;
}
.carlos{
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.comentario{
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.opcoes{
  font-size: 23px;
  color:#ED7839;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  position: absolute;
}
.opcoes2{
  font-size: 23px;
  color:#ED7839;
  display: flex;
  justify-content: flex-start;
  margin-top: -24px;
  position: absolute;
}
.coracao{
  background-color: #ED7839;
  border: none;
  color:#ffffff;
  border-radius: 3px;
  box-shadow: #725C5C;
  width: 25px;
  height: 19px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
}
.like1{
  display: flex;
  margin-top: -18px;
  justify-content: start;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 48px;
  
}
.like2{
  display: flex;
  margin-top: -18px;
  margin-left: 45px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 350px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.rodape {
  width: 1086px;
  height: 181px;
  margin-left: 260px;
}
